<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Log In</h2>
      <mat-error *ngIf="loginInvalid">
        The username and password were not recognised
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email" formControlName="email" required />
        <mat-error> Please provide a valid email address </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Space" formControlName="space" required />
        <mat-error> Please provide a valid space </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Login</button>
      <br />
      <a [routerLink]="'/signup'">Signup</a>
    </form>
  </mat-card-content>
</mat-card>
