#container{
    width: 100%;
}


.Map_filter{
    width: 40%;
    float: left;
}

.Filter_form{
    width: 60%;
    float: left;
}

.map {
    width: 95%;
    padding: 10px;
}

mat-card {
    max-width: 400px;
    margin: 5em auto;
    text-align: center;
}
  
  mat-form-field {
    display: block;
}
  
a{
    margin: 1em auto;
    display: block;
}
