
<div id="container">
    <div class="Map_filter">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2>Filter</h2>
            <mat-error *ngIf="FormMissingInformation">
              The username and password were not recognised
            </mat-error>

              <mat-form-field appearance="fill">
                <mat-label>Chose Sport Activity</mat-label>
                <mat-select [(value)]="selectedSport" formControlName="selector">
                  <mat-option *ngFor="let sport of sportChoice" [value]="sport.viewValue">
                    {{sport.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error> Please provide Sport </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Latitude" formControlName="Latitude" required />
              <mat-error> Please provide a Latitude or press on Map </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Longitude" formControlName="Longitude" required />
                <mat-error> Please provide a Longitude or press on Map </mat-error>
              </mat-form-field>
              <mat-form-field class="full-width-input">
                <input matInput placeholder="Distance" formControlName="Distance" required />
                <mat-error> Please provide a Distance from Location </mat-error>
              </mat-form-field>
            <button mat-raised-button color="primary">Search</button>


          

          </form>

          <div *ngIf="showMyContainer">
            <br><br>
            <h2>Field Information</h2>
            <div>Fieldname:  {{fieldname}}</div>
            <div>Field Activity Sports: {{fieldSports}}</div>
            <mat-form-field appearance="fill">
              <mat-label>Add Sport Activity</mat-label>
              <mat-select [(value)]="selectedAddSportID" formControlName="selector">
                <mat-option *ngFor="let sport of sports" [value]="sport.value">
                  {{sport.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="AddSportClick()" >Add Sport</button>
            <mat-form-field appearance="fill">
              <mat-label>Status</mat-label>
              <select matNativeControl required>
                <option value="volvo">Closed</option>
                <option value="saab">Renovation Closed</option>
                <option value="mercedes">Constuction Closed</option>
                <option value="audi">Reopened</option>
              </select>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="SubmitStatusClick()">Submit New Status</button>
            <br><br>
            </div>

        </mat-card-content>
      </mat-card>
    </div>
    <div class="Filter_form">
      <div class="map">
        <google-map
          width="100%"
          height="88vh"
          [center]="center"
          [zoom]="zoom"
          (mapClick)="addMarker($event)"
        >
          <map-marker
            *ngFor="let marker of markers"
            (mapClick)="clickedMarker($event,marker.markerOptions.title)"
            [position]="marker.markerPositions"
            [options]="marker.markerOptions"
          ></map-marker>
        </google-map>
      </div>
      </div>
</div>