<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div *ngIf = "showMySidebar">
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
  </div>
    <h1>VVVSA</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav >
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/Filter'"> Home </a>
      <a mat-list-item [routerLink]="'/Profile'"> Profile </a>
      <a mat-list-item [routerLink]="'/login'" (click)="sidenav.toggle()"> Log out </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="min-height: 88vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
