<mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field  class="full-width-input" >
          <input
            matInput
            placeholder="Avatar"
            formControlName="avatar"
            required
          />
          <mat-error> Please provide a valid avatar </mat-error>
        </mat-form-field>
        
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="email" required />
          <mat-error> Please provide a valid email address </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input
            matInput
            placeholder="Username"
            formControlName="username"
            required
          />
          <mat-error> Please provide a valid username </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Role" formControlName="role" required />
          <mat-error> Please provide a valid role </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Save</button>
      </form>
    </mat-card-content>
  </mat-card>
  